<!DOCTYPE html>
<html>
<head>
    <title>Trang thông tin cá nhân</title>
</head>
<style>
    .green {
    color: green;
  }

  .blue {
    color: blue;
  }
  .yellow {
    color:blue;
  }
  .red {
    color:red;
  }
</style>
<body>
    <h1>Thông tin cá nhân của học viên</h1>

    <?php    
        echo "<p>Họ tên: $anh</p>";
        echo "<p>Họ tên: $hoTen</p>";
        echo "<p>Tuổi: $tuoi</p>";
        echo "<p>Email: $email</p>";
        echo "<p>Số điện thoại: $soDienThoai</p>";

    ?>
      <div class="boxphai">
                          
                          <div class="class-container">
                          <table>
                              <tr>
                                  <th>Tên Lớp</th>
                                  <th>Mã Lớp</th>
                                  <th>Ca học</th>
                                  <th>Ngày bắt đầu</th>
                                  <th>Ngày kết thúc</th>
                                  <th>Giá</th>
                                  <th>Giảng viên</th>
                                  <th>Số lượng</th>
                                  <th>Đăng ký</th>
                              </tr>
                              <?php
                              foreach ($lopch as $row) {
                                  extract($row);
                                  echo '<tr>';
                                  echo '<td><span class="blue"> '.$tenlop.'</td>';
                                  echo '<td>' . $idlop . '</td>';
                                  echo '<td>' . $cahoc . '</td>';
                                  echo '<td>' . $ngaybatdau . '</td>';
                                  echo '<td>' . $ngayketthuc . '</td>';
                                  echo '<td><span class="red"> '.$gia .'</td>';
                                  echo '<td><span class="yellow"> '.$username.'';
                                 echo' <td><span class="green"> '.$soluong.' </span>/<span class="blue">  '.$soluongtoida.'</span></td>';
                                  echo '<td>';
                                 
                                  echo '</tr>';
                              }
                              ?>
                          </table>

                          </div>
    
</body>
</html>
